/* .nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
} */
 
.custom-navbar {
  background-color: rgba(73, 77, 82, 0.6);
  backdrop-filter: blur(8px);
  font-weight: 400;
}

.navbar .nav-link {
  position: relative;
  padding-bottom: 4px;
  color: azure;
}

.navbar .nav-link:not(.icon-link)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: whitesmoke;
  transition: width 0.3s ease;
}

.navbar .nav-link:not(.icon-link):hover::after {
  width: 100%;
}
