.breadcrumb-pills {
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

.breadcrumb-pills li {
  position: relative;          /* anchor for separator */
  display: flex;
  align-items: center;
  gap: 6px;

  padding: 4px 8px;
  border: 1px solid #d1d5db;
  border-radius: 16px;
  background-color: #fff;
}

/* custom "/" separator */
.breadcrumb-pills li:not(:last-child)::after {
  content: "/";
  position: absolute;
  right: -18px;                /* pushes it outside the border */
  color: #9ca3af;
}

/* spacing between pills */
.breadcrumb-pills li:not(:last-child) {
  margin-right: 24px;
}

/* remove library separators */
.breadcrumb-pills li::before {
  display: none !important;
}

.breadcrumb-pills li.active {
  background-color: #f3f4f6;
  font-weight: 500;
}

#bread-icons {
    color: black;
    margin-bottom: 2px;
    margin-right: 4px;  
}
.actions-count {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  margin-bottom: 5px;
  width: 100%;
}

.single-match-div {
  background: #1b5375;
  background: linear-gradient(0deg, rgba(27, 83, 117, 1) 0%, rgba(250, 232, 232, 1) 100%);
}

.figure-overlay {
  position: relative;
  display: inline-block;
}

.figure-img {
  border-radius: 0.7rem;
}

.figure-caption-overlay {
  position: absolute;
  top: 0;                /* or top: 0; or center it */
  left: 0;
  width: 100%;
  padding: 0.75rem;
  color: rgb(0, 0, 0);
  border-radius: 0 0 0.7rem 0.7rem;
  font-size: 0.85rem;
  top: 50%;
  transform: translateY(-50%);
}