.stat-page-section-1 {
    background-image: url("../assets/division-image-1.jpg");
    min-height: 91dvh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: clamp(1rem, 14vw, 25rem); /* move up/down */
    padding-left: clamp(2rem, 21vw, 25rem); /* move left/right */
}

.stat-page-section-1 h3 {
    font-size: 32px;
    margin-bottom: 1rem; /* space between h3 and p */
}

.stat-page-section-1 p {
    margin-top: 2rem;
    max-width: 40rem; 
    letter-spacing: 0.1em;
    font-size: 1.2rem;
    line-height: 1.9;   
}

.stat-page-section-2 {
    background-image: url("../assets/division-image-2.jpg");
    min-height: 85dvh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: clamp(1rem, 14vw, 25rem); /* move up/down */
    padding-left: clamp(8rem, 70vw, 95rem); /* move left/right */
}

.stat-page-section-2 h3 {
    font-size: 32px;
    margin-bottom: 1rem; /* space between h3 and p */
}

.stat-page-section-2 p {
    margin-top: 2rem;
    max-width: 40rem; 
    letter-spacing: 0.1em;
    font-size: 1.2rem;
    line-height: 1.9;   
}

.stats-gradient-btn {
  background: linear-gradient(90deg, #38b7f2 0%, #b3bf30 100%);
  border: none;
  transition: all 0.2s ease;
}

.stats-gradient-btn:hover {
  background: linear-gradient(68deg, #38b7f2 0%, #1938e7 100%);
  transform: translateY(-2px);
}

.stats-gradient-btn:active {
  transform: translateY(0);
}
