.custom-table th,
.custom-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.custom-table th {
  background: #f5f5f5;
  text-align: center;
}

.top-heading {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.7rem;
  background-color: #23598659;
}

.top-heading p {
  text-align: center;
  margin: 0;
  line-height: 1;
  font-size: medium;
}

.match-filter {
  display: flex;
  align-items: center;
  gap: 8px;
}

.table-section {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.sidebar {
  width: 23rem;
  padding: 0.5rem;
  background-color: #23598659;
  border-radius: 0.7rem;
}

.main-table {
  flex: 1;
  overflow-x: auto;
}
