.custom-table th .custom-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.custom-table th {
  background: #f5f5f5;
  text-align: center;
}

.custom-table {
  border-radius: 7px;
  overflow: hidden; /* important */
}

.top-heading-block {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.7rem;
  background-color: #23598659;
}

.top-heading-block p {
  text-align: center;
  margin: 0;
  line-height: 1;
  font-size: medium;
  color: rgb(255, 255, 255) !important;
}

.match-filter {
  display: flex;
  align-items: center;
  gap: 8px;
}

.table-section {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.sidebar {
  width: 23rem;
  padding: 0.5rem;
  background-color: #23598659;
  border-radius: 0.7rem;
}

.main-table {
  flex: 1;
  overflow-x: auto;
}

.main-div-table {
  background: #22c3c0;
  background: linear-gradient(0deg,rgba(34, 195, 192, 1) 0%, rgba(48, 46, 51, 1) 100%);
}

#top-p-tag {
  margin-top: 50px;
}

.heading-div {
  display: flex;
  align-items: baseline;
}

.heading-div p {
  margin-left: auto;
}