.top-heading {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.7rem;
    background-color: #badce05b;
}

.top-heading p {
    text-align: center;
    margin: 0;
    line-height: 1;
    font-size: medium;
    color: rgb(0, 0, 0) !important;
}

.team-filter {
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgb(0, 0, 0) !important;
}

.teams-roster-main {
    padding: 3rem 0;
    background: linear-gradient(0deg, rgba(57, 73, 82, 1) 0%, rgba(255, 250, 254, 1) 100%);
}