<!-- src/main/resources/templates/hello.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot App - Test page</title>
</head>
<body>
    <h1 th:text="${message}"></h1>
    <p>All URLs for this Spring Boot app:</p>
    <p>/scraped</p>
    <p>/scraped/matches/getAllEvents</p>
    <p>/scraped//matches/{matchId}</p>
    <p>/team-roster</p>
    <p>/team-roster/teams/{teamId}</p>
    <p>/team-roster//team-names/{teamName}</p>
    <p>/stats</p>
    <p>/stats/match-stats/{matchId}</p>
    <p>/teams</p>
</body>
</html>