.landing-page {
  min-height: 100dvh;
  background-image: url("./assets/landing-page-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  align-items: center;          /* vertical centering */
  justify-content: flex-start;  /* content stays left */
  padding-left: 60vw;           /* responsive spacing */
}

.hero-parent {
  max-width: 500px;
}

.hero-heading p {
/* Text Gradient CSS */
  color: #c1fd48;
  background-image: linear-gradient(60deg, #c1fd48 , #e2df2a 50%, #ab51d4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: bold;
}

.hero-content p {
  color: antiquewhite;
  font-size: 1.2rem;
  margin-top: 1rem;
}

/* hero heading glitch effect */

.hero-heading p{
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.hero-heading p:before,
.hero-heading p:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.hero-heading p:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.hero-heading p:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}
